.scale-on-hover:hover {
  transform: scale(1.25) perspective(1px)
}

.secondarybutton {
  color: cornsilk !important;
  font-weight: bold !important;
  font-family: 'Times New Roman', Times, serif;
  background-color: darkgray !important;
}

.background-img {
  background-color: blue;
}

.w-45 {
  width: 45%;
}

.w-40 {
  width: 41.2%;
}

.h-20 {
  height: 15%;
}